{
  "all": true,
  "extensions": ["*.js"],
  "include": [
    "lib/**",
    "cli/**",
    "helpers/**"
  ],
  "reporter": "lcov",
  "check-coverage": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100
}