{
  "all": true,
  "extensions": ["*.js"],
  "include": [
    "lib/**",
    "cli/**"
  ],
  "reporter": "lcov",
  "check-coverage": false,
  "branches": 80,
  "lines": 80,
  "functions": 80,
  "statements": 80
}